@font-face {
  font-family: "Pobeda";
  src: url("../fonts/pobeda.eot");
  src: url("../fonts/pobeda.eot?#iefix") format("embedded-opentype"), url("../fonts/pobeda.woff2") format("woff2"), url("../fonts/pobeda.woff") format("woff"), url("../fonts/pobeda.ttf") format("truetype"), url("../fonts/pobeda.svg#pobeda") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl-Bold.eot");
  src: url("../fonts/Stolzl-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Stolzl-Bold.woff2") format("woff2"), url("../fonts/Stolzl-Bold.woff") format("woff"), url("../fonts/Stolzl-Bold.ttf") format("truetype"), url("../fonts/Stolzl-Bold.svg#Stolzl-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl-Medium.eot");
  src: url("../fonts/Stolzl-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Stolzl-Medium.woff2") format("woff2"), url("../fonts/Stolzl-Medium.woff") format("woff"), url("../fonts/Stolzl-Medium.ttf") format("truetype"), url("../fonts/Stolzl-Medium.svg#Stolzl-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* @font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl-Regular.eot");
  src: url("../fonts/Stolzl-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Stolzl-Regular.woff2") format("woff2"), url("../fonts/Stolzl-Regular.woff") format("woff"), url("../fonts/Stolzl-Regular.ttf") format("truetype"), url("../fonts/Stolzl-Regular.svg#Stolzl-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl-Thin.eot");
  src: url("../fonts/Stolzl-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Stolzl-Thin.woff2") format("woff2"), url("../fonts/Stolzl-Thin.woff") format("woff"), url("../fonts/Stolzl-Thin.ttf") format("truetype"), url("../fonts/Stolzl-Thin.svg#Stolzl-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl-Light.eot");
  src: url("../fonts/Stolzl-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Stolzl-Light.woff2") format("woff2"), url("../fonts/Stolzl-Light.woff") format("woff"), url("../fonts/Stolzl-Light.ttf") format("truetype"), url("../fonts/Stolzl-Light.svg#Stolzl-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl-Book.eot");
  src: url("../fonts/Stolzl-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Stolzl-Book.woff2") format("woff2"), url("../fonts/Stolzl-Book.woff") format("woff"), url("../fonts/Stolzl-Book.ttf") format("truetype"), url("../fonts/Stolzl-Book.svg#Stolzl-Book") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

:root {
  --color-light-gray:#F5F5F5;
}

body {
  line-height: 1;
  overflow-x: hidden;
  position: relative;
}

body.scroll {
  overflow-y: hidden;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  border: none;
  -moz-appearance: textfield;
}

input[type=number]:focus {
  outline: none;
}

input[type=tel] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=text] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=tel]:focus {
  outline: none;
}

input[type=text]:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
}

select {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
}

button:focus {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

div {
  -webkit-tap-highlight-color: transparent;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 20px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 1200px) {
  .container {
    padding: 0px 80px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0px 0px;
    max-width: 1280px;
  }
}
.header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 80px;
  background: #F00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
}
.header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_block_logo img {
  width: 165px;
}
.header_block_other ul {
  display: none;
}
.header_block_other_btn {
  width: 33px;
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}
.header_block_other_btn span {
  background: #fff;
  width: 100%;
  position: absolute;
  height: 3px;
  right: 0px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header_block_other_btn span:first-child {
  top: 0px;
}
.header_block_other_btn span:nth-child(2) {
  width: 50%;
  top: 8px;
}
.header_block_other_btn span:nth-child(3) {
  top: 16px;
}
.header_block_other_btn.active span {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header_block_other_btn.active span:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px;
}
.header_block_other_btn.active span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.header_block_other_btn.active span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (min-width: 992px) {
  .header_block_logo img {
    width: 202px;
  }
  .header_block_other ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_block_other ul li {
    margin-left: 60px;
  }
  .header_block_other ul li a {
    cursor: pointer;
    color: #FFF;
    font-family: "Stolzl";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.4px; /* 202.5% */
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .header_block_other ul li a:hover {
    color: #00A400;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .header_block_other ul li span {
    cursor: pointer;
    color: #FFF;
    font-family: "Stolzl";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.4px; /* 202.5% */
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .header_block_other ul li span:hover {
    color: #00A400;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .header_block_other_btn {
    display: none;
  }
}

.header_other .header_block_other ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_other .header_block_other ul li a {
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family: "Stolzl";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 124.615% */
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header_other .header_block_other ul li a:hover {
  color: #00A400;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/main/bg_mob.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 110px;
}
.main_block_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_block_title_mob {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #00A400;
  padding: 5px 10px;
}
.main_block_title_mob p {
  color: #FFF;
  text-align: center;
  font-family: "Stolzl";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
}
.main_block_title_desk {
  margin-top: 10px;
}
.main_block_title_desk h1 {
  color: #FFF;
  text-align: center;
  font-family: "Stolzl";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 113.5%; /* 40.86px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.main_block_title_desk_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_block_title_desk_wrap_time {
  display: none;
}
.main_block_title_desk_wrap span {
  color: #FFF200;
  font-family: "Stolzl";
  font-size: 36px;
  line-height: 113.5%; /* 40.86px */
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.main_block_text {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_block_text h2 {
  color: #FFF;
  font-family: "Stolzl";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
}
.main_block_text p {
  color: #FFF;
  text-align: center;
  font-family: "Stolzl";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  margin-top: 20px;
}
@media (min-width: 480px) {
  .main_block_title_mob p {
    font-size: 22px;
  }
  .main_block_title_desk h1 {
    font-size: 52px;
  }
  .main_block_title_desk_wrap span {
    font-size: 52px;
  }
  .main_block_text h2 {
    font-size: 24px;
  }
  .main_block_text p {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .main {
    background: url(../img/main/bg_tablet.png);
    height: 800px;
    background-size: cover;
    background-position: 50%;
  }
  .main_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main_block_title_mob {
    display: none;
  }
  .main_block_title_desk {
    margin-top: 0px;
  }
  .main_block_title_desk h1 {
    text-align: left;
    font-size: 64px;
  }
  .main_block_title_desk_wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main_block_title_desk_wrap_time {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 6px 12px;
    background: #00A400;
    display: block;
    margin-right: 24px;
  }
  .main_block_title_desk_wrap_time p {
    color: #FFF;
    text-align: center;
    font-family: "Stolzl";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .main_block_title_desk_wrap span {
    font-size: 56px;
  }
  .main_block_text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 40px;
  }
  .main_block_text h2 {
    font-size: 28px;
  }
  .main_block_text p {
    text-align: left;
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .main {
    background: url(../img/main/bg_1024.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 170px;
  }
}
@media (min-width: 1200px) {
  .main {
    background: url(../img/main/bg_desk.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding-top: 220px;
  }
  .main_block_title_desk h1 {
    font-size: 68px;
  }
  .main_block_title_desk_wrap_time {
    padding: 7px 12px;
    margin-right: 20px;
  }
  .main_block_title_desk_wrap_time p {
    font-size: 26px;
  }
  .main_block_title_desk_wrap span {
    font-size: 58px;
  }
  .main_block_text {
    margin-top: 80px;
  }
}

.win {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FC0101;
  position: relative;
  padding: 100px 0px;
}
.win h2 {
  color: #FFF;
  font-family: "Stolzl";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.win_block_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}
.win_block_item h3 {
  color: #FFF;
  text-align: center;
  font-family: "Stolzl";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
  text-transform: uppercase;
  margin-top: 30px;
}
.win_block_item p {
  color: #FFF;
  font-family: "Stolzl";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  margin-top: 10px;
}
.win_block_item_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.win_block_item_social a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin-left: 10px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.win_block_item_social a:first-child {
  margin-left: 0px;
}
.win_block_item_social a img.default {
  display: block;
}
.win_block_item_social a img.hover {
  display: none;
}
.win_block_item_social a:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: rgb(170, 26, 12);
}
.win_block_item_social a:hover img.default {
  display: none;
}
.win_block_item_social a:hover img.hover {
  display: block;
}
.win_text {
  color: #FFF;
  text-align: center;
  font-family: "Stolzl";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-top: 50px;
  line-height: 24px;
}
@media (min-width: 480px) {
  .win h2 {
    font-size: 28px;
  }
  .win_block_item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .win_block_item_img {
    width: 140px;
  }
  .win_block_item_text {
    margin-left: 30px;
  }
  .win_block_item_text h3 {
    margin-top: 0px;
    text-align: left;
  }
  .win_block_item_text p {
    text-align: left;
  }
  .win_text {
    width: 332px;
    margin: 0 auto;
    margin-top: 50px;
  }
}
@media (min-width: 768px) {
  .win_block {
    width: 536px;
    margin: 0 auto;
  }
  .win_block_item_img {
    width: 160px;
  }
  .win_text {
    font-size: 24px;
    width: 460px;
    line-height: 28px;
  }
}
@media (min-width: 992px) {
  .win h2 {
    font-size: 36px;
  }
  .win_block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .win_block_item {
    width: calc(33.3333333333% - 10px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .win_block_item_img {
    width: 180px;
  }
  .win_block_item_text {
    margin-left: 0px;
    margin-top: 30px;
  }
  .win_block_item_text h3 {
    text-align: center;
  }
  .win_block_item_text p {
    text-align: center;
  }
  .win_block_item_social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .win_text {
    width: 100%;
    margin-top: 70px;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .win h2 {
    font-size: 36px;
  }
  .win_block_item {
    width: calc(33.3333333333% - 46.6666666667px);
  }
  .win_block_item_img {
    width: auto;
  }
}

.form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: #fff;
  padding: 100px 0px;
}
.form_block h2 {
  color: #171C21;
  text-align: center;
  font-family: "Stolzl";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form_block_form_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin-top: 30px;
}
.form_block_form_item .required {
  display: none;
}
.form_block_form_item input {
  width: 100%;
  color: #000;
  font-family: "Stolzl";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #999;
  padding-bottom: 8px;
}
.form_block_form_item_email {
  color: #171C21;
  font-family: "Stolzl";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
}
.form_block_form_item_email a {
  color: #171C21;
  text-decoration-line: underline;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form_block_form_item_email a:hover {
  color: #F00;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form_block_form_item #address {
  padding-right: 40px;
}
.form_block_form_item #coupon {
  padding-right: 40px;
}
.form_block_form_item .warning {
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}
.form_block_form_item_block {
  display: none;
  height: 240px;
  overflow-y: scroll;
  width: 100%;
  z-index: 20;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 4px 4px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.form_block_form_item_block::-webkit-scrollbar {
  display: none;
}
.form_block_form_item_block ul li {
  padding: 5px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  cursor: pointer;
  color: #000;
  font-family: "Stolzl";
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form_block_form_item_block ul li:hover {
  background: #00A400;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form_block_form_item_block ul li.active {
  background: #00A400;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form_block_form_item_block ul li.hidden {
  display: none;
}
.form_block_form_item_count {
  color: #171C21;
  font-family: "Stolzl";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
}
.form_block_warning {
  color: #F00;
  font-family: "Stolzl";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 30px;
}
.form_block_bottom {
  margin-top: 40px;
}
.form_block_bottom button {
  width: 100%;
  height: 50px;
  color: #FFF;
  font-family: "Stolzl";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  background: #00A400;
  text-align: center;
  line-height: 50px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 5px 5px 0px 5px;
}
.form_block_bottom button:hover {
  background: #009000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form_block_bottom p {
  color: #999;
  text-align: center;
  font-family: "Stolzl";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
  margin-top: 15px;
}
.form_block_bottom p a {
  color: #999;
  text-decoration: underline;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form_block_bottom p a:hover {
  color: #171C21;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (min-width: 480px) {
  .form_block_warning {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .form_block {
    width: 630px;
    margin: 0 auto;
  }
  .form_block_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .form_block_bottom button {
    width: 226px;
    min-width: 226px;
  }
  .form_block_bottom p {
    text-align: left;
    margin-left: 20px;
    margin-top: 0px;
  }
}
@media (min-width: 1024px) {
  .form {
    background: url(../img/form/bg.png);
    background-size: cover;
    background-position: 0% 50%;
    padding: 150px 0px;
  }
  .form_block {
    background-color: #fff;
    width: 870px;
    position: relative;
    padding: 70px 120px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
    -webkit-box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.04), 0px 12px 20px 0px rgba(0, 0, 0, 0.04), 0px 6px 5px 0px rgba(0, 0, 0, 0.04), 0px -5px 0px 0px #00A400;
            box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.04), 0px 12px 20px 0px rgba(0, 0, 0, 0.04), 0px 6px 5px 0px rgba(0, 0, 0, 0.04), 0px -5px 0px 0px #00A400;
  }
  .form_block_bottom {
    margin-top: 30px;
  }
}

.separate {
  height: 55px;
  width: 100%;
}

.form_block_form_item .warning .form_block_form_item_tooltip {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  right: 27px;
  bottom: -150px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #999;
  border-radius: 10px;
  max-width: 300px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form_block_form_item .warning.show .form_block_form_item_tooltip {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form_block_form_item .warning:hover .form_block_form_item_tooltip {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.faq {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 150px 0px 100px 0px;
}
.faq h2 {
  color: #171C21;
  font-family: "Stolzl";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.faq_block_list {
  margin-top: 50px;
}
.faq_block_list_item {
  position: relative;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 10px;
}
.faq_block_list_item::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: rgba(153, 153, 153, 0.3);
}
.faq_block_list_item_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.faq_block_list_item_top_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.faq_block_list_item_top_left span {
  color: #00A400;
  font-family: "Stolzl";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
  display: block;
  min-width: 38px;
}
.faq_block_list_item_top_left h4 {
  color: #171C21;
  font-family: "Stolzl";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  margin-left: 15px;
}
.faq_block_list_item_top_arrow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #00A400;
  width: 22px;
  min-width: 22px;
  height: 22px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 25px;
  cursor: pointer;
}
.faq_block_list_item_top_arrow img {
  width: 8px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.faq_block_list_item_body {
  color: #171C21;
  font-family: "Stolzl";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  display: none;
}
.faq_block_list_item_body p {
  margin-top: 10px;
}
.faq_block_list_item_body a {
  color: #F00;
  text-decoration: underline;
}
.faq_block_list_item_body a:hover {
  text-decoration: none;
}
.faq_block_list_item_body ul {
  list-style-type: disc;
  list-style-position: inside;
}
.faq_block_list_item_body ul li {
  margin-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.faq_block_list_item.open .faq_block_list_item_top_arrow img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (min-width: 480px) {
  .faq h2 {
    font-size: 28px;
  }
  .faq_block_list_item_top_left h4 {
    font-size: 16px;
  }
  .faq_block_list_item_top_arrow {
    width: 28px;
    min-width: 28px;
    height: 28px;
  }
  .faq_block_list_item_top_arrow img {
    width: 12px;
  }
  .faq_block_list_item_body {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .faq_block {
    width: 630px;
    margin: 0 auto;
  }
  .faq_block_list_item_top_left span {
    font-size: 36px;
    min-width: 62px;
  }
}
@media (min-width: 1024px) {
  .faq h2 {
    font-size: 36px;
  }
  .faq_block {
    width: 870px;
  }
}
@media (min-width: 1200px) {
  .faq {
    padding: 150px 0px 150px 0px;
  }
}

#paginator.hide {
  opacity: 0;
}

.broad {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 100px 0px;
}
.broad h2 {
  color: #171C21;
  text-align: center;
  font-family: "Stolzl";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.broad_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.broad a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px 5px 0px 5px;
  background: #00A400;
  height: 50px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-top: 30px;
}
.broad a span {
  display: inline-block;
  color: #FFF;
  font-family: "Stolzl";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  margin-left: 10px;
}
.broad a:hover {
  background: #009000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (min-width: 480px) {
  .broad h2 {
    font-size: 28px;
  }
  .broad a {
    width: 290px;
    margin: 0 auto;
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .broad_block iframe {
    width: 768px;
    height: 435px;
  }
}
@media (min-width: 992px) {
  .broad {
    padding: 150px 0px;
  }
  .broad h2 {
    font-size: 36px;
  }
  .broad_block {
    margin-top: 50px;
  }
}
.champions {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 100px 0px;
}
.champions h2 {
  color: #171C21;
  text-align: center;
  font-family: "Stolzl";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.champions_search {
  position: relative;
  margin-top: 50px;
}
.champions_search::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background-color: #999;
}
.champions_search img {
  position: absolute;
  left: 0px;
  top: 3px;
}
.champions_search input {
  color: #999;
  font-family: "Stolzl";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 32px;
}
@media (min-width: 480px) {
  .champions h2 {
    font-size: 28px;
  }
  .champions_search {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .champions {
    padding: 150px 0px;
  }
  .champions h2 {
    font-size: 36px;
  }
}

#winnerTable {
  text-align: left;
}

.champions_wrap {
  margin-top: 38px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 0.3rem;
  overflow-x: auto;
}

.champions_wrap {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-light-gray)), to(var(--color-light-gray))), -webkit-gradient(linear, left top, right top, from(var(--color-light-gray)), to(var(--color-light-gray))), -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 20, 0.5)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 20, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, var(--color-light-gray), var(--color-light-gray)), linear-gradient(to right, var(--color-light-gray), var(--color-light-gray)), linear-gradient(to right, rgba(0, 0, 20, 0.5), rgba(255, 255, 255, 0)), linear-gradient(to left, rgba(0, 0, 20, 0.5), rgba(255, 255, 255, 0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: var(--color-light-gray);
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}

#winnerTable > thead > tr > th {
  background-color: #00A400;
  color: #FFF;
  font-family: "Stolzl";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 15px */
}

#winnerTable > thead > tr > th, #winnerTable > tbody > tr > td {
  padding: 12px;
}

#winnerTable > tbody > tr > td {
  word-wrap: break-word;
  border-bottom: 1px solid #999;
  color: #171C21;
  font-family: "Stolzl";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}

.winners-paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.winners-paginator .pag-item {
  margin: 0px 5px;
}

.winners-paginator .pag-item span {
  color: #171C21;
  font-family: "Stolzl";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  cursor: pointer;
}

.winners-paginator .pag-item.active span {
  color: #F00;
  font-weight: 500;
}

@media (min-width: 480px) {
  #winnerTable > thead > tr > th {
    font-size: 14px;
  }
  #winnerTable > tbody > tr > td {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  #winnerTable > thead > tr > th {
    font-size: 16px;
  }
  #winnerTable > tbody > tr > td {
    font-size: 16px;
  }
}
.gifts {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 100px 0px;
}
.gifts_block_left h2 {
  color: #F00;
  font-family: "Stolzl";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.gifts_block_left_left {
  margin-top: 30px;
}
.gifts_block_left_left_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}
.gifts_block_left_left_item p {
  color: #171C21;
  font-family: "Stolzl";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.gifts_block_left_left_item span {
  color: #171C21;
  font-family: "Stolzl";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.gifts_block_left_left_item_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.gifts_block_left_left_item_list_item span {
  display: block;
  width: 110px;
}
.gifts_block_left_left_item_list_item_price {
  min-width: 40px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background: #00A400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px 6px;
  font-family: "Stolzl";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-left: 10px;
  line-height: 140%; /* 19.6px */
}
.gifts_block_right {
  position: relative;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gifts_block_right img {
  width: 100%;
}
.gifts_block_right a {
  display: block;
  color: #F00;
  text-align: center;
  font-family: "Stolzl";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  text-decoration: underline;
  margin-top: 50px;
}
.gifts_block_right a:hover {
  text-decoration: none;
}
@media (min-width: 480px) {
  .gifts_block_left h2 {
    font-size: 28px;
  }
  .gifts_block_left_left_item p {
    font-size: 18px;
  }
  .gifts_block_left_left_item span {
    font-size: 18px;
  }
  .gifts_block_left_left_item_list_item span {
    min-width: 130px;
  }
  .gifts_block_left_left_item_list_item_price {
    font-size: 16px;
    min-width: 50px;
  }
}
@media (min-width: 768px) {
  .gifts {
    padding: 130px 0px 100px 0px;
  }
  .gifts_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
  }
  .gifts_block_left {
    width: 50%;
  }
  .gifts_block_left h2 {
    text-align: left;
  }
  .gifts_block_left_left_item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .gifts_block_left_left_item_list {
    margin-left: 30px;
  }
  .gifts_block_right {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .gifts {
    padding: 150px 0px 150px 0px;
  }
  .gifts_block_left h2 {
    font-size: 36px;
  }
  .gifts_block_right {
    margin-top: 0px;
  }
}
@media (min-width: 1200px) {
  .gifts_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.politic {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 50px 0px;
  margin-top: 80px;
}
.politic_block h1 {
  font-family: "Stolzl";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #171C21;
}
.politic_block h4 {
  font-family: "Stolzl";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #171C21;
  margin-top: 40px;
}
.politic_block p {
  font-family: "Stolzl";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #171C21;
  margin-top: 20px;
}
.politic_block ul {
  list-style: disc;
}
.politic_block ul li {
  font-family: "Stolzl";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #171C21;
  margin-left: 20px;
  margin-top: 20px;
}
.politic_block ul li::marker {
  color: #F00;
}
@media (min-width: 1200px) {
  .politic {
    padding: 100px 0px;
  }
  .politic_block h1 {
    font-size: 36px;
  }
  .politic_block h4 {
    font-size: 24px;
  }
  .politic_block p {
    font-size: 16px;
  }
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 50px 0px;
  background: linear-gradient(358deg, #933C11 -84.97%, #F00 5.19%, #EC0505 47.06%, #F00 99.43%);
}
.footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_block a {
  color: #FFF;
  font-family: "Stolzl";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer_block_tel {
  color: #FFF;
  font-family: "Stolzl";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  margin-top: 10px;
}
.footer_block_bot {
  color: #FFF;
  font-family: "Stolzl";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
  margin-top: 30px;
}
@media (min-width: 480px) {
  .footer_block a {
    font-size: 36px;
  }
  .footer_block_tel {
    font-size: 16px;
  }
  .footer_block_bot {
    font-size: 14px;
    margin-top: 30px;
  }
}

.dropdown {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F00;
  position: fixed;
  top: 80px;
  right: 0px;
  width: 100%;
  height: calc(100vh - 80px);
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.dropdown.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.dropdown ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.dropdown ul li span {
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family: "Stolzl";
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.4px; /* 124.615% */
}